{% extends 'base.html' %}
{% block title %}Categories Page{% endblock %}

{% block main %}
    <div class="content">
        <h4>Категории</h4>
        {% for item in all_categories %}
            <li>{{item.name}}</li>
        {% endfor %}
        <form method="post" class="form-inline">
            <div class="form-group mb-2">
                <p style="margin-top: 15px;">Создать новую категорию:</p>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" name="category_name" class="form-control" id="inputText" placeholder="Введите название">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Подтвердить</button>
        </form>
    </div>
{% endblock %}
