<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
    <body>
        <h1>Контакты</h1>
        <h3>Обратная связь</h3>
        <p>Задайте любой интересующий вопрос с помощью формы обратной связи</p>
        <form action="" method="POST">
            <label for="name-field">Ваше имя:</label><br>
            <input type="text" placeholder="Имя" id="name-field"><br>

            <label for="surname-field">Ваша фамилия:</label><br>
            <input type="text" placeholder="Фамилия" id="surname-field"><br>

            <label for="city-field">Город:</label><br>
            <input type="text" placeholder="Город" id="city-field"><br>

            <label for="email-field">E-mail:</label><br>
            <input type="email" placeholder="Эл. почта" id="email-field"><br>

            <label for="message-field">Текст сообщения:</label><br>
            <textarea cols="60" rows="10" placeholder="Постарайтесь точно описать свой вопрос." id="message-field"></textarea><br>

            <input type="reset" value="Очистить форму">
            <input type="submit" value="Отправить">
        </form>
    </body>
</html>
